@font-face {
    font-family: mechanik;
    src: url(./fonts/mechanik-Regular.ttf);
}

@font-face {
    font-family: disparador;
    src: url(./fonts/Disparador-Stencil-Regular.ttf);
}

html, body {
    font-family: mechanik, sans-serif; /* Override Bootstrap .font-family for custom theme */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.navbar-brand {
    font-family: disparador, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
